/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ############### */

/* navigation bar */
header{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 70px;
    width: 100%;
    padding-top: 15px;
    backdrop-filter: blur(5px);
}

.green_bar {
    position: absolute;
    top: -75px;
    height: 75px;
    width: 100%;
    background-color: #42593C;
}
.logo {
    position: absolute;
    top: -65px;
    left: 110px;
    font-size: 50px;
    color: white;
}
main {
    margin-top: 225px;
}

/* .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #42593C;
    margin-bottom: 30px;
    font-size: 22px;
    color: #FFFFFD;
} */



/* Picture of profil */

/* .photo_profil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
} */

/* Planning/Liste de courses Swipe Bar */

.bar_swipe ul {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #42593C;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;;
    margin: auto;
    margin-top: 7px;
    gap: 20px;
    font-size: 22px;
    color: #FFFFFD;
}

/* Swipe bar of Week */
.week ul {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #42593C;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 22px;
    color: #FFFFFD;
}



h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    margin: 30px;
}

/* Changes Pics of petit dejeuner */
.petit_dej img {
    width: 300px;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
}

/* Increase font size of petit dejeuner section */
.petit_dej section {
    font-size: 25px;
}

/* Dejeuner section */

.dej section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
}

/* Title of each meal */

.bloc_title {
    /* position: relative; */
    width: 300px;
    margin: auto;
    /* margin-top: -3px; */
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

/* Pics of dejeuner */
.dej img {
    width: 300px;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
}

/* Center text of petit dejeuner and dejeuner */

.petit_dej, .dej {
    text-align: center;
    border: 5px solid #42593C;
    border-radius: 20px;
    width: 3O0px;
    margin: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    
}


/* liste de courses */

.shoplist {
    width: 320px;
    text-align: center;
    font-size: 22px;
    border: 5px solid #42593C;
    border-radius: 20px;
    margin: auto;
    
}

.shoplist li {
    display: flex;
    justify-content: flex-start;
    gap: 60px   ;
    border-bottom: 1px solid black;
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}


/* menu burger */

/* background burger menu active */
#side-bar {
    position: absolute;
    width: 230px;
    height: 245px;
    background: #42593C;
    left: -300px;
    top: -70px;
    transition: 0.5s ease-out;
    z-index: 4;
  }

  /* button burger */
  .toggle-button {
    position: absolute;
    top: 15px;
    left: 310px;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
  .toggle-button span {
    width: 50px;
    height: 7px;
    border-radius: 5px;
    background: #FFFFFD;
    display: block;
    margin-top: 4px;
    transition: 0.5s ease;
  }

  /* text of burger menu */
.menu {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px   ;
}
.menu li {
    color: #FFFFFD;
    list-style-type: none;
    font-size: 2.25rem;
    cursor: pointer;
    padding-left: 5px;
  }
 
  
  #side-bar.active {
    left: 0;
    width: 100%;
  }

  /* Cross to close burger menu */
  #side-bar.active .toggle-button {
    top: 30px;
    right: 0px;
  }
  #side-bar.active span {
    position: absolute;
  }

  /* Animation of burger menu */
  #side-bar.active span:nth-child(1) {
    transform: rotate(45deg);
  }
  #side-bar.active span:nth-child(2) {
    opacity: 0;
  }
  #side-bar.active span:nth-child(3) {
    transform: rotate(-45deg);
  }
  #side-bar.active ~ .content {
    opacity: 0.3;
  }