/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ############### */

/* Loading fonts */
@font-face {
    font-family: "Gastromond";
    src: url("./Police/Gastromond.woff2"), url("./Police/Gastromond.woff") ;
  }

  @font-face {
    font-family: "Superclarendon";
    src: url("./Police/Superclarendon_Light.woff2"), url("./Police/Superclarendon_Light.woff") ;
    font-weight: light;
  }
  
  
/* navigation bar */

.week_desktop {
    display: none;
}
header{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 70px;
    width: 100%;
    padding-top: 15px;
    backdrop-filter: blur(5px);
}

.green_bar {
    position: absolute;
    top: -75px;
    height: 75px;
    width: 100%;
    background-color: #42593C;
}

h1 {
    padding-top: 12px;
    text-align: center;
    color: #f6f6f6fd;
    font-size: 35px;
    cursor: pointer;
    font-family: Gastromond;
}

.green_bar img {
    position: absolute;
    top:  15px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
main {
    margin-top: 225px;
}


/* Planning/Liste de courses Swipe Bar */

.bar_swipe {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar_swipe input {
    background-color: #42593C;
    border-radius: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    font-family: Superclarendon;
}


/* Swipe bar of Week */
.week ul {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #42593C;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #FFFFFD;
    cursor: pointer;
    font-family: Superclarendon;
    gap: 10px   ;
}

h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin: 30px;
    font-family: Superclarendon;
}


/* Changes Pics of petit dejeuner and dejeuner*/
.petit_dej img, .dej img {
    width: 170px;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
}

/* Increase font size of petit dejeuner section */
.petit_dej section {
    font-size: 25px;
    height: fit-content;
}

/* Dejeuner section */

.dej section {
    margin-top: 30px;
    font-size: 25px;
}

/* Title of each meal */

.bloc_title {
    width: 170px;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    /* background: rgb(255, 255, 255); */
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    background-color: #42593C;
    color: white;
    font-family: Superclarendon;
    font-size: 18px;
}

.bloc_recipe {
    width: 170px;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    background-color: #42593C;
    color: white;
    font-family: Superclarendon;   
    font-size: 18px;

}

/* Pics of dejeuner */
.dej img {
    width: 170px;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
}

/* Center text of petit dejeuner and dejeuner */

.petit_dej, .dej {
    text-align: center;
    border: 5px solid #42593C;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;    
}


/* liste de courses */

.shoplist {
    width: 250px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    border: 5px solid #42593C;
    border-radius: 20px;
    margin: auto;
    font-family: Superclarendon;
    
}

.shoplist li {
    display: flex;
    justify-content: flex-start;
    gap: 60px   ;
    border-bottom: 1px solid black;
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}


/* menu burger */

/* background burger menu active */
#side-bar {
    position: absolute;
    width: 230px;
    height: 245px;
    background: #42593C;
    left: -300px;
    top: -70px;
    transition: 0.5s ease-out;
    z-index: 4;
  }

  /* button burger */
  .toggle-button {
    position: absolute;
    top: 15px;
    left: 310px;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
  .toggle-button span {
    width: 50px;
    height: 7px;
    border-radius: 5px;
    background: #FFFFFD;
    display: block;
    margin-top: 4px;
    transition: 1s ease;
  }

  /* text of burger menu */
.menu {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu li {
    color: #fffffd;
    list-style-type: none;
    font-size: 2.25rem;
    cursor: pointer;
    padding-left: 5px;
    font-family: Gastromond;
}
 
  
    #side-bar.active {
      left: 0;
      width: 100%;
}

/* Cross to close burger menu */

    #side-bar.active .toggle-button {
        position: fixed;
      top: -40px;
      left: 260px;
    }
    #side-bar.active span {
      position: absolute;
    }
    /* Animation of burger menu */
    #side-bar.active span:nth-child(1) {
      transform: rotate(45deg);
    }
    #side-bar.active span:nth-child(2) {
      opacity: 0;
    }
    #side-bar.active span:nth-child(3) {
      transform: rotate(-45deg);
    }
    #side-bar.active ~ .content {
      opacity: 0.3;
    }


/* Media Querries */

@media screen and (min-width: 420px ) {
    .petit_dej img, .dej img {
        width: 270px;
    }
    .bloc_title, .bloc_recipe {
        width: 270px;
        font-family: Superclarendon;
    }
}

@media screen and (min-width: 520px ) {
    .petit_dej img, .dej img {
        width: 370px;
    }
    .bloc_title, .bloc_recipe {
        width: 370px;
        font-family: Superclarendon;
    }
}

@media screen and (min-width: 620px ) {
    .petit_dej img, .dej img {
        width: 470px;
    }
    .bloc_title, .bloc_recipe {
        width: 470px;
        font-family: Superclarendon;
    }
}

@media screen and (min-width: 768px ) {
    .petit_dej img, .dej img {
        width: 618px;
    }
    .bloc_title, .bloc_recipe {
        width: 618px;
        font-family: Superclarendon;
        font-size: 22px;
    }
    #side-bar.active {
        left: 0;
        width: 320px;
    }
    .shoplist {
        font-size: 22px;
    }
    .week ul {
        font-size: 18px;
    }
}

@media screen and (min-width: 868px ) {
    .petit_dej img {
        width: 718px;
    }
    .petit_dej .bloc_title, .petit_dej .bloc_recipe {
        width: 718px;
        font-family: Superclarendon;
    }
    .dej section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    .dej img {
        width: 300px;
        height: 200px;
    }
    .dej .bloc_title, .dej .bloc_recipe {
        width: 300px;
        font-family: Superclarendon;
    }
    #side-bar.active {
        left: 0;
        width: 320px;
    }
}

@media screen and (min-width: 968px ) {
    .petit_dej img {
        width: 818px;
    }
    .petit_dej .bloc_title, .petit_dej .bloc_recipe {
        width: 818px;
        font-family: Superclarendon;
    }
    .dej section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    .dej img {
        width: 400px;
        height: 250px;
    }
    .dej .bloc_title, .dej .bloc_recipe {
        width: 400px;
        font-family: Superclarendon;
    }
    #side-bar.active {
        left: 0;
        width: 320px;
    }
}

@media screen and (min-width: 1024px ) {

    .content_planning {
        width: 580px;
    }

    .petit_dej img, .petit_dej .bloc_title, .petit_dej .bloc_recipe {
        width: 480px;
        font-family: Superclarendon;
    }
    .dej img {
        width: 480px;
        height: auto;
    }
    .dej .bloc_title, .dej .bloc_recipe {
        width: 480px;
        font-family: Superclarendon;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 30px;
        top: 0px;
        margin-top: 175px;
    }
    .bar_swipe {
        display: none;
    }
    .shoplist {
        height: auto;
        width: 360px;
        font-family: Superclarendon;        
    }
    #side-bar.active {
        left: 0;
        width: 320px;
    }
    .week {
        display: none;
    }
    .week_desktop {
        display: block  ;
    }
    .week_desktop ul {
        display: flex;
        justify-content: space-around;
        padding: 3px;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #42593C;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 22px;
        color: #FFFFFD;
    }
}



@media screen and (min-width: 1324px ) {

    .content_planning {
        width: 680px;
    }

    .petit_dej img, .petit_dej .bloc_title, .petit_dej .bloc_recipe {
        width: 530px;
    }
    .dej img {
        width: 530px;
    }
    .dej .bloc_title, .dej .bloc_recipe {
        width: 530px;
    }

    .shoplist {
        width: 460px;        
    }

}

@media screen and (min-width: 1440px ) {

    .content_planning {
        width: 780px;
    }

    .petit_dej img, .petit_dej .bloc_title, .petit_dej .bloc_recipe {
        width: 530px;
        font-size: 30px;
    }
    .dej img {
        width: 530px;
    }
    .dej .bloc_title, .dej .bloc_recipe {
        width: 530px;
        font-size: 30px;
    }

    .shoplist {
        width: 510px;  
        font-size: 30px;      
    }
    .green_bar {
        padding-bottom: 20px;
    }

    .week_desktop {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .shoplist li {
        font-size: 30px; 
    }

    .week_desktop ul {
        font-size: 30px;
    }

    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 40px;
    }

}

@media screen and (min-width: 1640px ) {

    .content_planning {
        width: 880px;
    }

    .petit_dej img, .petit_dej .bloc_title, .petit_dej .bloc_recipe {
        width: 630px;
    }
    .dej img {
        width: 630px;
    }
    .dej .bloc_title, .dej .bloc_recipe {
        width: 630px;
    }

    .shoplist {
        width: 630px;        
    }

}

@media screen and (min-width: 1840px ) {

    .content_planning {
        width: 980px;
    }

    .petit_dej img, .petit_dej .bloc_title, .petit_dej .bloc_recipe {
        width: 730px;
    }
    .dej img {
        width: 730px;
    }
    .dej .bloc_title, .dej .bloc_recipe {
        width: 730px;
    }

    .shoplist {
        width: 730px;        
    }

}

@media screen and (min-width: 2040px ) {

    .content_planning {
        width: 1080px;
    }

    .petit_dej img, .petit_dej .bloc_title, .petit_dej .bloc_recipe {
        width: 830px;
        font-size: 30px;
    }
    .dej img {
        width: 830px;
    }
    .dej .bloc_title, .dej .bloc_recipe {
        width: 830px;
        font-size: 30px;
    }

    .shoplist {
        width: 830px;       
    }


}

@media screen and (min-width: 2240px ) {

    .content_planning {
        width: 1180px;
    }

    .petit_dej img, .petit_dej .bloc_title, .petit_dej .bloc_recipe {
        width: 930px;
        font-size: 30px;
    }
    .dej img {
        width: 930px;
    }
    .dej .bloc_title, .dej .bloc_recipe {
        width: 930px;
        font-size: 30px;
    }

    .shoplist {
        width: 930px;       
    }
}

@media screen and (min-width: 2560px ) {

    .content_planning {
        width: 1280px;
    }

    .petit_dej img, .petit_dej .bloc_title, .petit_dej .bloc_recipe {
        width: 1030px;
        font-size: 40px;
    }
    .dej img {
        width: 1030px;
    }
    .dej .bloc_title, .dej .bloc_recipe {
        width: 1030px;
        font-size: 40px;
    }

    .shoplist {
        width: 1030px;       
    }

    .green_bar {
        padding-bottom: 40px;
    }

    .week_desktop {
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .shoplist li {
        font-size: 40px; 
    }

    .week_desktop ul {
        font-size: 40px;
    }

    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 60px;
    }

    main  {
        margin-top: 260px;
    }
}
